.container {
	max-width: 1440px;
	margin: 0 auto;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Playfair Display', serif;
}
header, footer {
	background-color: rgb(226, 250, 245);
}
.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding: 0 20px;
	line-height: 50px;

}
.menu {
	padding: 0 10px;
}
.main_container {
	display: flex;
	flex-wrap: wrap;
}
.section {
	width: 45%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.avatar {
	height: 200px;
	width: 150px;
	box-shadow: 0 0 1px #cccbcb;
}
.text {
	text-align: left;
}
.rs_school {
	height: 50px;
	width: 120px;
}
.section {
  color: #000000;
  padding: 10px 0px 10px 20px;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: darkslategray;
}
ul {
	list-style-type: square;
}
.section {
	margin: 10px 20px 10px 20px;
	text-align: left;
	padding: 10px 20px 10px 20px;
	background-color: rgb(248, 253, 252);
}
footer {
	margin-top: 20px;
}
code {
	text-align: center;
}